body {
    background-color: rgb(16, 20, 25);

}

.section {
    background-color: rgb(113, 105, 122);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}


.h1 {
    color: rgb(0, 0, 0);
    background-color: rgb(246, 190, 154);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px; 
    padding: 20px;
}

.h2 {
    color: rgb(0, 0, 0);
}

.h3 {
    color:rgb(255, 255, 255);
}

.p {
    color: rgb(246, 190, 154);
}


nav a {
    color: red;
}

a {
    color: orange;
}

.test-footer {
    color:rgba(104, 101, 101, 0.774);
}

.avatar {
    border-radius: 50%;
  }
